<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </head>
  <body style="background-image: url(/static/images/ocean.jpg); background-size: cover;">
    <!-- NAV BAR START -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid">
        {% comment %} <a class="navbar-brand" href="#">NotesApp</a> {% endcomment %}
        <a class="navbar-brand" href="#">
          <img src="/static/images/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          NotesApp</a> 
   
        \  
      <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
         
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/notes">Notes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
              </li>


          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
          {% if user is none %}
          <button class="btn btn-outline-primary mx-2" data-bs-toggle="modal" data-bs-target="#loginModal" type="">
            Login
          </button>           
          <button class="btn btn-outline-warning mx-1" data-bs-toggle="modal" data-bs-target="#signupModal" type="" >
            Signup
          </button>
          {%else%}
          {% comment %} <a href="/user_logout" class="btn btn-outline-danger mx-1"  >              Logout</a> {% endcomment %}
          <!-- Example split danger button -->
          <div class="dropdown mx-5">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{user}}
            </button>
            <ul class="dropdown-menu">
              
              <li><a class="dropdown-item mx-2" href="/user_logout">Logout</a></li>
              
            </ul>
          </div>
          {%endif%}
        </div>
      </div>
    </nav>
    <!-- NAV BAR END -->

    {% comment %} UPDATE PROFILE FORM START {% endcomment %}
    <div class="container my-5">
    <form method="POST"  class="row g-3 needs-validation" novalidate>
      {% csrf_token %}
        <div class="col-md-6">
          <label for="validationCustom01"  class="form-label">First name</label>
          <input type="text" value="{{c_user.firstname}}" name="firstname" class="form-control" id="validationCustom01" value="" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustom02"  class="form-label">Last name</label>
          <input type="text" value="{{c_user.lastname}}" name="lastname" class="form-control" id="validationCustom02" value="" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustomUsername"  class="form-label">Username</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="text" value="{{c_user.username}}" name="username" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom01"  class="form-label">Password</label>
            <input type="password" value="{{c_user.password}}" name="password" class="form-control" id="validationCustom01" value="" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        <div class="col-md-6">
          <label for="validationCustom03"  class="form-label">City</label>
          <input type="text" value="{{c_user.city}}" name="city" class="form-control" id="validationCustom03" required>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationCustom04" class="form-label">State</label>
          <select class="form-select" name="state" id="validationCustom04" required>
            <option>{{c_user.state}}</option>
            <option>Gujarat</option>
            <option>Rajasthan</option>
            <option>Maharashtra</option>
            <option>Other</option>

          </select>
          <div class="invalid-feedback">
            Please select a valid state.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationCustom05"  class="form-label">Mobile</label>
          <input type="number" value="{{c_user.mobile}}" name="mobile" class="form-control" id="validationCustom05" required>
          <div class="invalid-feedback">
            Please provide a valid Mobile number.
          </div>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Update Profile</button>
        </div>
      </form>
    </div>
    {% comment %} UPDATE PROFILE FORM END {% endcomment %}

    <hr />
  </body>
</html>
